@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

:root {
  --main-color: #1d2c49;
  --primmary-color: #673dff;
  --secundary-color: #cccdcc;
  --light-color: #fff;
}

body {
  background-color: var(--light-color);
  color: var(--main-color);
  background-image: linear-gradient(
    45deg,
    #ffffff 25%,
    #e0e0e0 25%,
    #e0e0e0 50%,
    #ffffff 50%,
    #ffffff 75%,
    #e0e0e0 75%,
    #e0e0e0 100%
  );
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0.753);

  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);

  border-radius: 25px;
}

/* header  start*/
.header-area {
  position: fixed;
  top: 30px;
  left: 0px;
  right: 0px;
  z-index: 1000;
  height: 100px;
  display: flex;
  justify-content: center;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-area .navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  width: 90%;
  z-index: 999;
  padding: 0 50px;
  background-color: var(--main-color);
}

.header-area .navbar .logo img {
  width: 50px;
  height: 40px;
}

.header-area .navbar #menu li {
  list-style: none;
  cursor: pointer;
  display: inline-block;
  padding-top: 0px; 
}

.header-area .navbar #menu li a {
  text-decoration: none;
  display: block;
  color: var(--light-color);
  font-size: 18px;
  font-weight: 400;
  margin-left: 25px;   
  transition: transform 0.3s ease;
}

.header-area .navbar #menu li a:hover {
  transform: scale(1.2);
}

.header-area .navbar .social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  cursor: pointer;
  z-index: 998;
}

.header-area .navbar .social-media a {
  color: var(--light-color);
  transition: transform 0.3s ease;
}

.header-area .navbar .social-media a:hover {
  transform: scale(1.2);
}

#btn-mobile {
  display: none;
  z-index: 996;
}

@media (max-width: 947px) {
  .header-area .navbar .logo {
    z-index: 1000;
    margin-left: -25px;
  }

  #menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    padding-top: 50px;
    top: 0.8rem;
    left: 0;
    text-align: center;
    background: var(--main-color);
    transition: 0.6s;
    height: 70px;
    border-radius: 50px;
    visibility: hidden;
    overflow-y: hidden;
  }
  .navbar.active #menu {
    align-items: center;
    text-align: center;
    height: calc(45vh - 70px);
    border-radius: 50px;
    visibility: visible;
  }

  #menu li:first-child {
    margin-top: 1.5rem;
  }

  #menu li {
    margin-bottom: 2rem;
  }

  #btn-mobile {
    display: flex;
    margin-right: -25px;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
    color: var(--light-color);
  }
  #hamburger {
    border-top: 2px solid;
    width: 20px;
  }
  #hamburger::after {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #hamburger::before {
    content: '';
    display: block;
    width: 25px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  .navbar.active #hamburger {
    border-top-color: transparent;
  }
  .navbar.active #hamburger::before {
    width: 20px;
    transform: rotate(135deg);
  }
  .navbar.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}
/* header end */

/* welcome  start*/
.welcome {
  max-width: 90%;
  padding-top: 200px;
  height: 100%;
  margin: 50px auto;
}

.welcome h1 {
  color: var(--main-color);
  font-size: 3em;
  text-align: left;
}

.title-one,
.title-two {
  color: var(--main-color);
  font-weight: 900;
  text-align: left;
  text-transform: uppercase;
}

.title-one {
  font-size: 10em;
  margin-bottom: 1px;
  margin-bottom: -110px;
}

.title-two {
  font-size: 18em;
}

@media (max-width: 947px) {
  .welcome {
    padding-top: 200px;
    height: 100%;
    margin: 100px auto;
  }

  .welcome h1 {
    font-size: 1em;
    text-align: center;
    margin-bottom: -50px;
  }

  .title-one {
    padding-top: 60px;
    font-size: 2em;
    text-align: center;
    margin-bottom: 10px;
  }

  .title-two {
    font-size: 2em;
    text-align: center;
    margin-bottom: 100px;
  }
}
/* welcome end*/

/* projects start */
.projects {
  max-width: 90%;
  padding-top: 200px;
  height: 100%;
  margin: 150px auto;
}

.projects .container h1 {
  color: var(--main-color);
  font-weight: bold;
  font-size: 4em;
  text-align: center;
  margin-bottom: 20px;
}

.container .row-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
}

.row-cards .card {
  width: calc(50% - 20px);
  background: var(--first-color);
  align-items: center;
  text-align: center;
  padding: 50px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.row-cards .card img {
  max-width: 600px;
  transition: transform 0.3s ease;
}

.row-cards .card img:hover {
  transform: scale(1.05);

}

.row-cards .card .card-content {
  margin: auto;
  width: 70%;
}

.row-cards .card .card-content h3 {
  color: var(--primmary-color);
}

.row-cards .card .card-content h3 a {
  color: var(--primmary-color);
  font-size: 1.5em;
  font-weight: bold;
}

.card .card-content h3 a:hover {
  color: var(--main-color);
}

.card .card-content p {
  font-size: 20px;
  text-align: justify;
}

@media (max-width: 947px) {
  .projects .container .row-cards .card {
    width: calc(100% - 20px);
    padding: 50px 25px;
    height: 100%;
    margin: auto;
  }

  .row-cards .card .card-content {
    margin: auto;
    width: 100%;
  }

  .row-cards .card img {
    max-width: 90%;
  }
}

/* projects end */

/* footer start */

.baseboard {
  background: var(--main-color);
  padding: 25px 23px;
  color: var(--light-color);
  text-align: center;
}

.baseboard p span a {
  color: var(--light-color);
  text-decoration: none;
}

.baseboard p span a:hover {
  color: var(--light-color);
}

@media (max-width: 947px) {
  .baseboard p {
    font-size: 10px;
  }
}

/* footer end */

/* popup start */

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

#popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--light-color);
  padding: 20px;
  border: 1px solid var(--secundary-color);
  border-radius: 10px;
  z-index: 1;
}

.popup-content h2 {
  color: var(--main-color);
  padding: 20px;
  text-align: center;
  font-weight: 600;
}

.popup-contact {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.popup-contact .contact {
  text-align: center;
  transition: transform 0.3s ease;
}

.popup-contact .contact:hover {
  transform: scale(1.2);
}

.popup-contact .contact img {
  width: 70px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.close {
  position: absolute;
  padding: auto;
  top: 0;
  right: 10px;
  cursor: pointer;
  font-size: 1.5em;
}

@media (max-width: 947px) {
  #popup {
    width: 90%;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--light-color);
    padding: 20px;
    border: 1px solid var(--secundary-color);
    border-radius: 10px;
    z-index: 1;
  }

  .popup-content h3 {
    font-size: 18px;
  }

  .popup-contact {
    font-size: 10px;
  }

  .popup-contact .contact {
    width: 80%;
  }

  .popup-contact .contact img {
    width: 40px;
    cursor: pointer;
  }

  .popup-contact .contact h4 {
    font-size: 18px;
  }
}

/* popup end */

/* scroll-animation start */
.top-hidden {
  opacity: 0;
  filter: blur(15px);
  transform: translateY(-100%);
  transition: all 2s;
}

.top-show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
  transition: all 2s;
}

.right-hidden {
  opacity: 0;
  filter: blur(15px);
  transform: translateX(5%);
  transition: all 2s;
}

.right-show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 2s;
}

.bottom-hidden {
  opacity: 0;
  filter: blur(15px);
  transform: translateY(100%);
  transition: all 2s;
}

.bottom-show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
  transition: all 2s;
}

.left-hidden {
  opacity: 0;
  filter: blur(15px);
  transform: translateX(-5%);
  transition: all 2s;
}

.left-show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 2s;
}

.row-cards :nth-child(2) {
  transition: all 2s;
  transition-delay: 1s;
}

.row-cards :nth-child(3) {
  transition: all 2s;
  transition-delay: 1.5s;
}

.row-cards :nth-child(4) {
  transition: all 2s;
  transition-delay: 2s;
}

@media (max-width: 947px) {
  .top-hidden {
    opacity: 0;
    filter: blur(15px);
    transform: translateY(-100%);
    transition: all 2s;
  }
  
  .top-show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
    transition: all 2s;
  }
  
  .right-hidden {
    opacity: 0;
    filter: blur(15px);
    transform: translateX(5%);
    transition: all 2s;
  }
  
  .right-show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 2s;
  }
  
  .bottom-hidden {
    opacity: 0;
    filter: blur(15px);
    transform: translateY(100%);
    transition: all 2s;
  }
  
  .bottom-show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
    transition: all 2s;
  }
  
  .left-hidden {
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-5%);
    transition: all 2s;
  }
  
  .left-show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 2s;
  }
  
  .row-cards :nth-child(2) {
    transition: all 2s;
    transition-delay: 800ms;
  }
  
  .row-cards :nth-child(3) {
    transition: all 2s;
    transition-delay: 1.2ms;
  }
  
  .row-cards :nth-child(4) {
    transition: all 2s;
    transition-delay: 1.6s;
  }
}

/* scroll-animation end */