@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --main-color: #1d2c49;
  --light-color: #fff;
}

body {
  background-color: var(--light-color);
  color: var(--main-color);
  background-image: linear-gradient(
    45deg,
    #ffffff 25%,
    #e0e0e0 25%,
    #e0e0e0 50%,
    #ffffff 50%,
    #ffffff 75%,
    #e0e0e0 75%,
    #e0e0e0 100%
  );
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {

  background-color: rgba(0, 0, 0, 0.753);

  width: 10px;

}

::-webkit-scrollbar-thumb {

  background-color: var(--main-color);

  border-radius: 25px;

}

/* header  start*/
.header-area {
  position: fixed;
  top: 30px;
  left: 0px;
  right: 0px;
  z-index: 100;
  height: 100px;
  display: flex;
  justify-content: center;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-area .max-width {
  max-width: 80%;
  padding: 0 10px;
  margin: auto;
}

.header-area .navbar .logo a {
  color: var(--light-color);
  font-size: 35px;
  font-weight: 500;
}

.header-area .navbar .logo a img {
  width: 50px;
  height: 40px;
}

.header-area .navbar {
  position: fixed;
  margin: auto;
  border-radius: 50px;
  width: 80%;
  z-index: 999;
  padding: 20px 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--main-color);
}

.header-area .navbar .max-width {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-area .navbar .menu li {
  list-style: none;
  cursor: pointer;
  display: inline-block;
  padding-top: 10px;
}

.header-area .navbar .menu li a {
  text-decoration: none;
  display: block;
  color: var(--light-color);
  font-size: 18px;
  font-weight: 400;
  margin-left: 25px;
}

.header-area .navbar .social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  cursor: pointer;
}

.header-area .navbar .social-media a {
  color: var(--light-color);
}

.menu-btn {
  color: var(--light-color);
  font-size: 23px;
  cursor: pointer;
  display: none;
}

@media (max-width: 947px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }
  #menu-icon.active::before {
    content: "\f00d";
  }
  .header-area .navbar .menu {
    background-color: var(--main-color);
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: -150%;
    top: 0;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  #menu-site.active {
    left: -10%;
  }
  .header-area .navbar .menu li {
    display: block;
  }
  .header-area .navbar .menu li a {
    display: inline-block;
    margin: 13px 0;
    font-size: 25px;
  }
}
/* header end */

/* welcome  start*/
.welcome {
  max-width: 90%;
  padding-top: 200px;
  height: 100%;
  margin: 50px auto;
}

.welcome h1 {
  color: var(--main-color);
  font-family: "Poppins", sans-serif;
  font-size: 3em;
  text-align: left;
}

.title-one,
.title-two {
  color: var(--main-color);
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  text-align: left;
  text-transform: uppercase;
}

.title-one {
  font-size: 10em;
  margin-bottom: 1px;
  margin-bottom: -110px;
}

.title-two {
  font-size: 18em;
}

@media (max-width: 1270px) {
  .welcome {
    max-width: 90%;
    padding-top: 50px;
    height: 100%;
    margin: 50px auto;
  }
}

@media (max-width: 947px) {
  .welcome {
    padding-top: 200px;
    height: 100%;
    margin: 50px auto;
  }

  .welcome h1 {
    font-size: 1em;
    text-align: center;
  }

  .title-one {
    padding-top: 60px;
    font-size: 2em;
    text-align: center;
  }

  .title-two {
    font-size: 2em;
    text-align: center;
  }
}
/* welcome end*/

/* projects start */
.projects {
  max-width: 90%;
  padding-top: 200px;
  height: 100%;
  margin: 50px auto;
}

.projects h1 {
  color: var(--main-color);
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 4em;
}

.projects img {
  max-width: 600px;
}

.projects h3 a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.projects h3 a:hover {
  color: var(--main-color);
}

.projects p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  text-align: justify;
}

@media (max-width: 947px) {
  .projects {
    max-width: 90%;
    padding-top: 200px;
    height: 100%;
    margin: 50px auto;
  }

  .projects img {
    max-width: 90%;
  }
}

/* projects end */

/* footer start */

.baseboard {
  background: var(--main-color);
  padding: 25px 23px;
  color: var(--light-color);
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.baseboard p span a {
  color: var(--light-color);
  text-decoration: none;
}

.baseboard p span a:hover {
  color: var(--light-color);
}

@media (max-width: 947px) {
  .baseboard p {
    font-size: 10px;
  }
}

/* footer end */

/* popup start */

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

#popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  z-index: 1;
}

.popup-content h3 {
  color: var(--main-color);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.popup-contact {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.popup-contact .contact {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.popup-contact .contact img {
  width: 70px;
  cursor: pointer;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

@media (max-width: 947px) {
  #popup {
    width: 90%;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    z-index: 1;
  }

  .popup-content h3 {
    font-size: 18px;
  }

  .popup-contact {
    font-size: 10px;
  }

  .popup-contact .contact {
    width: 80%;
  }

  .popup-contact .contact img {
    width: 40px;
    cursor: pointer;
  }

  .popup-contact .contact h4 {
    font-size: 18px;
  }
}

/* popup end */

/* scroll-animation start */
.top-hidden {
  opacity: 0;
  filter: blur(15px);
  transform: translateY(-100%);
  transition: all 2s;
}

.top-show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
  transition: all 2s;
}

.right-hidden {
  opacity: 0;
  filter: blur(15px);
  transform: translateX(5%);
  transition: all 2s;
}

.right-show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 2s;
}

.bottom-hidden {
  opacity: 0;
  filter: blur(15px);
  transform: translateY(100%);
  transition: all 2s;
}

.bottom-show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
  transition: all 2s;
}

.left-hidden {
  opacity: 0;
  filter: blur(15px);
  transform: translateX(-5%);
  transition: all 2s;
}

.left-show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 2s;
}

.row :nth-child(2) {
  transition-delay: 1s;
}

.row :nth-child(3) {
  transition-delay: 1.5s;
}

.row :nth-child(4) {
  transition-delay: 2s;
}

@media (max-width: 947px) {
  .top-hidden {
    opacity: 0;
    filter: blur(15px);
    transform: translateY(-100%);
    transition: all 2s;
  }
  
  .top-show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
    transition: all 2s;
  }
  
  .right-hidden {
    opacity: 0;
    filter: blur(15px);
    transform: translateX(5%);
    transition: all 2s;
  }
  
  .right-show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 2s;
  }
  
  .bottom-hidden {
    opacity: 0;
    filter: blur(15px);
    transform: translateY(100%);
    transition: all 2s;
  }
  
  .bottom-show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
    transition: all 2s;
  }
  
  .left-hidden {
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-5%);
    transition: all 2s;
  }
  
  .left-show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 2s;
  }
  
  .row :nth-child(2) {
    transition-delay: 800ms;
  }
  
  .row :nth-child(3) {
    transition-delay: 1.2ms;
  }
  
  .row :nth-child(4) {
    transition-delay: 1.6s;
  }
}

/* scroll-animation end */
